
.pokielist{
    display: flex;
    height: 500px;
    margin: 40px auto auto auto;
    max-width: 800px;
    background-color: rgb(207, 213, 218);
    justify-content: center;
}

img{
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 25%;
    padding-bottom: 20%;
}
body{
    padding-top: 5%;
}
h1{
    font-family: monospace, monospace;
    color: rgb(82, 138, 180);
}
.cardname{
    font-family: monospace, monospace;
    font-size: 160%;
}

.pokemon{
    margin: auto;
    padding: 6px;
    font-size: 12px;
    height: 300px;
    min-width: 220px;
    cursor: pointer;
}

#card1{
    border: 2px solid green;
    box-sizing: border-box;
    flex-basis: 20%;
    background-color: lightgreen;
    border-radius: 15px;
}

#card2
{
    border: 2px solid palevioletred;
    box-sizing: border-box;
    flex-basis: 20%;
    background-color: pink;
    border-radius: 15px;
}

#card3
{
    border: 2px solid rgb(48, 110, 139);
    box-sizing: border-box;
    flex-basis: 20%;
    background-color: aqua;
    border-radius: 15px;
 
}

.id {
    margin-top: 12px;
    margin-left: 10px;
    width: 60px;
    height: 25px;
    border-radius: 5px;
    font-family: monospace, monospace;
    font-size: 17px;
}

#no1{
    background-color: rgb(20, 161, 20);
}
#no4{
    background-color: rgb(218, 26, 26);
}
#no7{
    background-color: rgb(28, 121, 209);
}
.text{
    height: 25px;
    margin: 0;
    position: relative;
    top: 50%;
    left: 62.5%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

