.pokielist{
    display: flex;
    justify-content: space-between;
    background-color: rgb(207, 213, 218);
    margin: 5% 10% auto 10%;
    border: rgb(207, 213, 218);
    border-width: 50px;
    border-style: solid;
    border-radius: 20px;
    
    
}

img{
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 25%;
    padding-bottom: 20%;
}
body{
    padding-top: 5%;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(82, 138, 180);
}
.cardname{
    font-family: 'Courier New', Courier, monospace;
    font-size: 160%;
}
.card1{
    border: 2px solid green;
    box-sizing: border-box;
    flex-basis: 20%;
    background-color: lightgreen;
    border-radius: 15px;
}

.card2
{
    border: 2px solid palevioletred;
    box-sizing: border-box;
    flex-basis: 20%;
    background-color: pink;
    border-radius: 15px;
}

.card3
{
    border: 2px solid rgb(48, 110, 139);
    box-sizing: border-box;
    flex-basis: 20%;
    background-color: aqua;
    border-radius: 15px;
 
}
